<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <nav th:fragment="navbar">
        <a th:href="@{/}"><button>Home</button></a>
        <a th:href="@{/dashboard}"><button>Dashboard</button></a>
        <a th:href="@{/calendar}"><button>Calendar</button></a>
        <a th:href="@{/incomes}"><button>Incomes</button></a>
        <a th:href="@{/expenses}"><button>Expenses</button></a>
        <a th:href="@{/logout}"><button>Logout</button></a>
    </nav>
</body>
</html>
